html,



h1 {
    font-family: Lilita One;
    font-size: 4rem;
    text-align: center;
}





.input-name{
    font-size: 2rem;
    border: 0.1rem solid;
    border-radius: 0.2rem;
    height: 3rem;
    width: 200px;
    vertical-align: middle;
}