/**{
    //background-color: #3C3C3C;
}*/
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:Montserrat;
    font-size: 12pt;
}

h1{
  font-family:Montserrat;
  font-size: 4rem;
  text-align: center;
}
.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  background-color: #000;
  height: 40px;
  vertical-align: middle;
}

.nav-title{
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
}

.nav-item{
  list-style: none;
  vertical-align: middle;
}

.nav-wording{
  text-decoration: none;
  color: whitesmoke;
  vertical-align: middle;
}

.navigation-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

.btn{
  text-align: center;
  font-family: Montserrat;
  font-size: 2rem;
  border: 0.1rem solid;
  margin: 0.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
  background-color: whitesmoke;
  height:3rem;
  vertical-align: middle;
  width: 30%
}

.btn:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.boggle-container,
.calculator-container,
.game-rules{
  border: 0.1rem solid;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 1rem;
  text-align: justify;
  background-color:gainsboro;
}

.display{
  display: flex;
  flex-direction:row;
  text-align: center;
  vertical-align: middle;
  justify-content: space-between;
}